/* reset */

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: 'Roboto', sans-serif;

}

/* layout */

header {
  height: 100px;
  margin: 40px 0;
}

/* classi generali */

a {
  text-decoration: none;
  font-size: 17px;
}
a, i {
  color: #a6acb2;

}
sup {
color: #ec008d;
}
img {
  width: 100%;
}

.violet-btn  {
  display: inline-block;
  background-color: #ec008d;
  border-radius: 30px;
  padding: 8px 25px;
  color: white;
}

/* HEADER | Menu */

.menubar {
  width: 1280px;
  height: 100%;
  margin: auto;
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
 }
.menu {
  display: flex;
  align-items: center;

}
.menu li {
  display: inline-block;
  position: relative;
}
.menu li a:hover {
  color: black;
}
.menu li a.violet-btn:hover {
  color: white;
}

.nav-left a {
  text-transform: uppercase;
}

.nav-left,.nav-right {
  display: flex;
}
.nav-left .menu li, .nav-right .menu li {
  margin-right: 25px;
}
.nav-left .menu li:last-child, .nav-right .menu li:last-child{
  margin-right: 0;
}

.logo {
  width: 100px;
}
/* dropdown */

.dropdown{
    display: none;
    position: absolute;
    width: 150px;
    right: -80px;
    box-shadow: 0px 15px 23px -21px rgba(0,0,0,0.64);
}

.dropdown.active {
  display: block;
}
.dropdown li {
  margin: 20px 0;
}
